@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
   .landing-one {
      background: linear-gradient(to bottom, white 0%, white 60%, theme(colors.violet.500) 60%, theme(colors.violet.500) 100%);
   }
   @media screen(lg) {
      .landing-one {
         background: linear-gradient(to right, white 0%, white 60%, theme(colors.violet.500) 60%, theme(colors.violet.500) 100%);
      }
   }

   .btn-primary {
      @apply py-1 px-5 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none
       focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
   }
   .form-control {
      @apply border w-full h-5 px-3 py-5 mt-2 focus:ring-1 focus:ring-indigo-600 focus:outline-none hover:outline-none rounded-md;
   }
   .video{
      @apply bg-slate-200 shadow-md rounded-sm grid place-items-center;
   }
   .search-box{
      @apply w-full py-3 px-2 border rounded-md mb-5 hover:outline-none focus:outline-none focus:ring-purple-500 focus:ring-2;
   }

   .backdrop-style{
      @apply bg-[#00000066] rounded-xl border border-[#4e4e4e54] backdrop-blur-xl;
   }
   
   .min-gradient-bg{
      @apply bg-gradient-to-r from-purple-400 to-orange-600;
   }

   .text-gradient{
      @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-orange-600;
   }
   .btn-prot-main{
      @apply px-12 py-2 hover:bg-gradient-to-l duration-300 bg-gradient-to-r from-purple-400 to-orange-600 text-gray-100 rounded-full;
   }
   .aboutImage::after{
      @apply content-[''] w-full h-full bg-gradient-to-tr to-orange-200 from-purple-300 left-0 top-0 rounded-xl absolute rotate-12 -z-10 duration-300
   }


   @keyframes progressAnimation {
      0% { width: 0; }
      100% { width: 100%; }
   }
    
   .animate-progress {
      animation: progressAnimation 3s linear;
   }
   
}


